//bug 
.edit_form {
    // width: 500px;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
}

.add_form {
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
}

.ant-layout-content {
    overflow: auto;
}

.margin_bottom0 {
    margin-bottom: 0 !important;
}