html,
body,
#__nuxt,
#__layout {
  width: 100%;
  height: 100%;
}

.cus-flex {
  display: flex;
}

.cus-flex-center {
  justify-content: center;
}

.cus-flex-between {
  justify-content: space-between;
}

.cus-align-center {
  align-items: center;
}

.cus-relative {
  position: relative;
}

.cus-absolute {
  position: absolute;
}

.cus-fixed {
  position: fixed;
}

.cus-fix-center {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.cus-box-center {
  margin: 0 auto;
}

.cus-full-width {
  width: 100%;
}

.inline {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
