<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
    <meta charset="UTF-8">
    <title>bug管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./css/public-header.css">
    <link rel="stylesheet" href="./css/article.css">
    <link rel="stylesheet" href="./css/public-info.css">
    <link rel="stylesheet" href="./css/public-bottom.css">
    <link rel="stylesheet" href="./css/bug.css">
</head>

<body>
    <!-- public-header -->
    <div class="public-header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container_custom">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="./index.html">
                        <img src="./images/logo.png" alt="logo" width="16">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="./index.html"><span>首页<i class="line"></i></span></a></li>
                        <li><a href="./article.html"><span>文章<i class="line"></i></span></a></li>
                        <li><a href="./about.html"><span>关于<i class="line"></i></span></a></li>
                        <li><a href="./brand.html"><span>品牌<i class="line"></i></span></a></li>
                        <li><a href="./recruit.html"><span>招聘<i class="line"></i></span></a></li>
                        <li><a href="./login.html"><span>登录<i class="line"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- article -->
    <div id="app" class="buglist">
        <div class="buglist_header_panel">
            <div class="container_custom">
                <h3 class="buglist_header_panel_title">前端避坑指南</h3>
                <div class="row form-group">
                    <div class="buglist_header_panel_searchGroup col-md-8">
                        <input class="searchIpt" type="text" placeholder="请输入关键词搜索bug">
                        <span class="searchBtn">
                            搜索
                        </span>
                    </div>
                </div>
                <div class="buglist_header_panel_links">
                    <div class="linksItem">
                        <span>最新<i class="line"></i></span>
                    </div>
                    <div class="linksItem">
                        <span>已解决<i class="line"></i></span>
                        <span>未解决<i class="line"></i></span>
                    </div>
                    <div class="linksItem">
                        <span>HTML<i class="line"></i></span>
                        <span>CSS<i class="line"></i></span>
                        <span>JS<i class="line"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_custom buglist_content row">
            <div v-if="!bugListData.length" style="text-align:center;">空空如也</div>
            <div class="buglist_content_item col-md-4" v-for="(item, index) in bugListData" :key="index"
                @click="goDetail(item,index)">
                <div class="buglist_content_item_wrapper" v-if="bugListData.length">
                    <h5 class="bugItem_title">{{item.title}}</h5>
                    <div class="bugItem_content">
                        {{item.content}}
                    </div>
                    <div class="bugItem_ortherInfo">
                        <div>
                            <div class="bugItem_ortherInfo_authorInfo">{{item.author}}</div>
                            <div class="bugItem_ortherInfo_timeInfo">{{item.createAt | datetimeFormat}}</div>
                        </div>
                        <div style="max-width:220px;">
                            <span class="bugItem_ortherInfo_keyword">{{item.keyword}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- public-bottom -->
    <div class="bottom">
        <!-- bottom-tab -->
        <ul class="bottom-tab hidden-xs">
            <li><a href="./index.html" class="h6"><span class="text-uppercase">home</span><br>首页</a></li>
            <li><a href="./article.html" class="h6"><span class="text-uppercase">article</span><br>文章</a></li>
            <li><a href="./about.html" class="h6"><span class="text-uppercase">about</span><br>关于</a></li>
            <li><a href="./brand.html" class="h6"><span class="text-uppercase">source</span><br>资源</a></li>
            <li><a href="./recruit.html" class="h6"><span class="text-uppercase">recruit</span><br>招聘</a></li>
            <li><a href="./login.html" class="h6"><span class="text-uppercase">login</span><br>登录</a></li>
        </ul>
        <!-- back to top -->
        <div class="back-top">
            <a href="#" class="btn btn-default glyphicon glyphicon-menu-up"></a>
        </div>
        <!-- copyright -->
        <p class="copyright h6 text-center">2014 All rights reserved. 青岛轮子软件科技有限公司 版权所有 法律声明 鲁ICP备14035434号-1</p>
    </div>
    <script src="./lib/jquery/jquery.min.js"></script>
    <script src="./lib/bootstrap/bootstrap.min.js"></script>
    <script src="./js/tab-toggle.js"></script>
    <script src="./js/border-slide.js"></script>
    <script src="./js/backtop.js"></script>
    <script src="./js/article.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/axios.min.js"></script>
    <script>
        // $(function () {
        //     $(".v-d > div").eq(0).on('click', () => {
        //         window.location.href = "./detail-3.html"
        //     })
        // })
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                bugListData: []
            },
            mounted() {
                this.getBugLis();
            },
            filters: {
                datetimeFormat: function (value) {
                    if (!value) return ''
                    value = value.toString()
                    let date = value.split('T')[0];
                    let time = value.split('T')[1].split('.')[0];
                    return date + ' ' + time;
                }
            },
            methods: {
                getBugLis() {
                    let params = {
                        query: {
                            pageIndex: 1,
                            pageSize: 10
                        }
                    }
                    axios.post(`http://localhost:3000/bugs/GetBugList`, params)
                        .then((res) => {
                            console.log(res.data.data);
                            if (res.data.data) {
                                this.bugListData = res.data.data;
                            }
                        })
                        .catch((err) => {
                            console.log(err);
                        })
                },
                goDetail(row, index) {
                    console.log(row._id);
                    window.open(`bugdetail.html?id=${row._id}`);

                    // axios.get(`http://localhost:3000/bugs/GetBugDetail`, {
                    //         params: {
                    //             bugId: row._id
                    //         }
                    //     })
                    //     .then((res) => {
                    //         console.log(res.data.data);
                    //         if (res.data.data) {
                    //             window.open(`bugdetail.html?id=${}`);
                    //         }
                    //     })
                    //     .catch((err) => {
                    //         console.log(err);
                    //     })
                }
            }
        })
    </script>
</body>

</html>