.public-header .navbar {
    background-image: none;
}

.navbar-brand {
    padding: 15px 0;
}

.container_custom {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px) {
    .container_custom {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container_custom {
        width: 970px
    }
}

@media (min-width: 1366px) {
    .container_custom {
        width: 1300px
    }
}

.buglist {
    font-weight: 400;
}

.buglist_header_panel {
    padding-top: 50px;
    background-image: linear-gradient(135deg, rgb(75, 102, 217), rgb(90, 72, 215));
}

.buglist_header_panel_title {
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 25px;
    margin-top: 0;
}

.buglist_header_panel_searchGroup,
.buglist_header_panel_links {
    display: flex;
}

.buglist_header_panel_searchGroup .searchIpt {
    flex: 1;
    border: none;
    padding: 11px 15px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 14px;
    color: #333;
}

.buglist_header_panel_searchGroup .searchBtn {
    cursor: pointer;
    user-select: none;
    width: 120px;
    background: linear-gradient(313deg, rgba(0, 86, 242, 1) 0%, rgba(199, 114, 255, 1) 100%);
    border-radius: 0px 2px 2px 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

.buglist_header_panel_links {
    padding-bottom: 20px;
}

.buglist_header_panel_links .linksItem {
    padding: 1px 20px;
    color: #fff;
    font-size: 13px;
    user-select: none;
}

.buglist_header_panel_links .linksItem:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.buglist_header_panel_links .linksItem span {
    position: relative;
    cursor: pointer;
}

.buglist_header_panel_links .linksItem span i.line {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-image: linear-gradient(to left, #ffff00, #ffb400);
    transition: all .3s ease-in-out;
}

.buglist_header_panel_links .linksItem span:hover i.line {
    width: 100%;
}

.buglist_header_panel_links .linksItem span:not(:last-child) {
    margin-right: 15px;
}

.buglist_header_panel_links .linksItem span:not(:last-child)::after {
    position: absolute;
    content: "•";
    margin: 0 5px;
    cursor: default;
}

.buglist_content {
    padding: 30px 0;
}

.buglist_content_item {
    /* background-color: #ffb400; */
    padding: 0 15px 30px;
    min-width: 33%;
}

.buglist_content_item_wrapper {
    cursor: pointer;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid rgba(221, 221, 221, 1);
    transition: all .3s ease-in-out;
    padding: 19px 15px;
}

.buglist_content_item_wrapper:hover {
    box-shadow: 0px 1px 6px 0px rgba(107, 107, 107, 0.2);
}

.buglist_content_item_wrapper .bugItem_title {
    font-size: 14px;
    font-weight: 500;
    color: rgba(48, 49, 51, 1);
    margin: 0 0 5px;
}

.buglist_content_item_wrapper .bugItem_content {
    font-size: 13px;
    color: rgba(153, 153, 153, 1);
    line-height: 17px;
    margin-bottom: 10px;
}

.buglist_content_item_wrapper .bugItem_ortherInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.bugItem_ortherInfo_keyword {
    background: rgba(255, 255, 255, 1);
    border-radius: 11px;
    border: 1px solid rgba(204, 204, 204, 1);
    font-size: 14px;
    padding: 2.5px 10px;
    margin-bottom: 5px;
    user-select: none;
}