/*body*/

html,body {
    overflow-x: hidden;
    height: 100%;
}


/*content-slogan*/

.content {
    display: flex;  
    height: 100%;
}



.content-slogan {
    width: 65%;
    padding-left: 4%;
    background: url(../images/login.png) no-repeat top center;
    background-size: cover;
    font-size: 10px;
}


/*percent*/

@media screen and (max-width: 768px) {
    .content-slogan {
        width: 30%;
    }
    .content-slogan p {
        font-size: 16px!important;
    }
    .content-slogan p:last-of-type {
        font-size: 10px!important;
    }
    .content-login {
        width: 70%;
    }
}


.content-slogan .logo {
    margin-bottom: 160px;
    background: url(../images/logo.png) no-repeat;
    background-size: 16px;
    /*clear default style*/
    font-weight: normal;
    font-style: normal;
}

.content-slogan .logo a {
    display: block;
    width: 16px;
    text-indent: -9999px;
}


.content-slogan p {
    margin-bottom: 0;
    color: #fff;
}

.content-slogan .text-uppercase {
    font-size: 400%;
    font-family: BebasNeue;
}

.content-slogan p:first-of-type {
    position: relative;
}

.content-slogan p:first-of-type::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 12%;
    height: 2px;
    background-image: linear-gradient(to left, #ffff00, #ffb400);
}

.content-slogan p:last-of-type {
    font-size: 120%;
}


/*content-login*/

.content-login {
    width: 35%;
    padding: 200px 4% 0 4%;
}

.content-login .login-title {
    padding-bottom: 20px;
    color: #333;
}

.content-login input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px 6px 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
}

.content-login form input:first-child {
    width: 50%
}

.content-login input::placeholder {
    color: #bbb;
}


/*@media screen and (max-width: 768px) {
	.content-login input::placeholder{
		font-size: 12px;
	}
}*/

.content-login .btn {
    padding-left: 40px;
    padding-right: 40px;
    background-color: #5747da;
    color: #fff;
    border-radius: 0;
}

.content-login .btn:hover,
.content-login .btn:active:focus,
.content-login .btn:active,
.content-login .btn:focus {
    background-color: #5747da;
    color: #fff;
}