/*body*/
html,body{
    height: 100%;
    overflow-x: hidden;
}
body {
    background: url(../images/recruit_bg.png) no-repeat top center;
    background-size: cover;
}


/*content*/

.content {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
}

.content .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*jobs*/

.content .jobs {
    position: relative;
    width: 200px;
    /*clear default style*/
    margin: 0;
    padding: 0;
    list-style: none;
}

.content .jobs::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 24%;
    height: 4px;
    background-color: #5747da;
}

.content .jobs li {
    padding: 12px 0;
    color: #999;
    transition: padding-left .8s ease-in-out;
    cursor: pointer;
}

.content .jobs .current {
    padding-left: 25%;
    color: #7c1cdb;
}

@media screen and (max-width: 400px) {
    .content .jobs li {
        color: #fff;
    }
    .content .jobs .current {
        padding-left: 25%;
        color: #999;
    }
}



/*jd*/

.content .jd {
    flex: .9;
    background-color: #fff;
    padding: 30px 20px;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to top, #7b1cdb, #4a60dc);
    border-image-slice: 1;
}

.content .jd .f-e,
.content .jd .u-i,
.content .jd .u-r {
    display: none;
}

.content .jd .job-title-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    color: #5747da;
}

.content .jd .job-title {
    flex-shrink: 2;
    position: relative;
    padding: 10px 60px 10px 4px;
    background: url(../images/job_title_bg.png) no-repeat top left;
}

.content .jd .job-title::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 60%;
    height: 2px;
    background-image: linear-gradient(to left, #6f18d7, #4962dc);
}



.content .jd .job-title i {
    padding-left: 10px;
    font-style: normal;
    font-family: HelveticaNeue;
}

.content .jd .apply {
    flex-shrink: 2;
    height: 40px;
    border-radius: 0;
    color: #5747da;
    font-style: normal;
    border-image-source: linear-gradient(to top, #7b1cdb, #4a60dc);
    border-image-slice: 1;
}

.content .jd .workplace {
    padding-bottom: 20px;
    font-style: normal;
    font-size: 12px;
}

.content .jd .workplace span:first-child {
    padding-right: 20px;
}

.content .jd .jd-info-title {
    position: relative;
    padding-left: 14px;
    font-style: normal;
    font-size: 14px;
}

.content .jd .jd-info-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    background-color: #6438c8;
}

.content .jd .duty-info,
.content .jd .requirements-info {
    /*clear default style*/
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    font-size: 12px;
}

.content .jd .duty-info li,
.content .jd .requirements-info li {
    padding: 8px 0;
}